<div class="container">
  <h1>Products Cart</h1>
  <table class="table table-bordered">
  <thead>
    <tr>
      <th>Books</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @order_items.each do |order_item| %>
    <tr>
      <td><%= order_item.book.name %></td>
      <td><%= order_item.quantity %></td>
      <td><%= order_item.total_price %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
